.products {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
}

.products .latest__products {
    padding: 30px 0;
}

.products .latest__products h2 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1.2px;
}

.products .product{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 34px;
}

.products .product .card {
    position: relative;
    width: 255px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s ease;
}

.products .product .card:hover {
    transform: scale(1.1,1.1);
}

.products .product .card .card__top {    
    width: 100%;
    height: 350px;
    cursor: pointer;
}

.products .product .card .card__top a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.products .product .card .card__body {
    width: 100%;
    height: 100px;
    padding: 26px 10px 12px 10px;
}

.products .product .card .card__body a h2{
    padding: 5px 0;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.products .product .card .card__body p {
    padding: 5px 0;
    font-size: 14px;
}

.products .product .card .card__body .release__date {
    color: #16161680;
}

.products .product .card .card__body .vote__average {
    position: absolute;
    top: 16px; right: 16px;
    z-index: 9999;
}

.products .product .card .card__body .vote__average p{
    font-size: 12px;
    font-weight: 600;
    color: white;
}