.nav__bg {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    right: 0; top: 0;
    z-index: 100;
}

.nav__bg .nav__container {
    position: relative;
    height: 100vh;
    width: 600px;
    padding: 40px 10px;    
    background-color: white;
}

.nav__bg .nav__container button {
    cursor: pointer;
    background: none;
    border: none;
}

.nav__bg .nav__container button svg {
    font-size: 18px;
    color: #2879fe;
}

.nav__bg .nav__container nav {
    margin: 0 auto;
    width: fit-content;
}

.nav__bg .nav__container nav ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.nav__bg .nav__container nav ul li{
    font-size: 50px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 1.5px;  
    text-transform: uppercase;
}

.nav__bg .nav__container nav ul li a {
    color: #000;
    transition: all 0.35s;    
    touch-action: manipulation;
}

.nav__bg .nav__container nav ul li a:hover {
    color: #2879fe
}


