* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
  text-decoration: none;
  background-color: #fafafa;
  /* background-color: #141414; Dark Theme */
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}